/* general */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-100);

  --spacing-unit: 0.5vw;
  --hamburger-line-thickness: 0.15rem;
  --header-height: 11vh;
  --content-width: 1200px;
  --border-radius: calc(var(--spacing-unit) * 2);

  --font-size: 14pt;

  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  font-size: var(--font-size);
}

h2 {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* dark/light selector */
.dark-light-selector {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.dark-light-selector--visible {
  display: block;
}

/* header */

.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none;
}

.header--visible {
  display: block;
}

.header__content {
  max-width: var(--content-width);
  height: var(--header-height);
  display: flex;
  background-color: lightblue;
}

.header__content .header__logo,
.header__content .header__menu {
  flex: 1 1 auto;
}

.header__content .header__logo {
  font-size: xx-large;
  font-weight: 900;
  white-space: nowrap;
}

/* sections */

.section {
  max-width: var(--content-width);
  min-height: 100vh;
  padding: calc(var(--spacing-unit) * 5);
  margin-bottom: calc(var(--spacing-unit) * 10);
  /* border: solid 1px red; */
}

/* intro */

.section__intro-title {
  margin-top: 1.5em;
}

.section__intro-title--collapsed {
  margin: 0;
  width: 100%;
}

.section__intro-title-text {
  font-size: 2em;
  font-weight: 900;
  transition: 0.4s;
}

.section__intro-title-text--collapsed {
  font-size: 1em;
}

.section__intro-text--collapsed {
  display: none;
}

.section__intro-menu {
  transition: 0.4s;
}

/* tech */

.section__tech {
  border-radius: var(--border-radius);
}

.section__tech .subsection {
  border-bottom: solid var(--color-gray-200) 1px;
  padding: calc(var(--spacing-unit) * 2) 0;
}

.section__tech .subsection ul {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing-unit) * 2);
}

.section__tech .subsection ul li {
  width: 250px;
}

.section__tech .section__tech-logo {
  width: 2em;
  height: 2em;
  margin-right: var(--spacing-unit);
}

.section__tech .section__generic-tech-logo {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: var(--color-gray-200);
  border-radius: 5em;
  line-height: 2.3em;
  color: white;
  font-weight: bold;
  margin-right: var(--spacing-unit);
}

.section__tech #view-past-tech-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: var(--spacing-unit);
}

.section__tech #view-past-tech-btn #btn-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border: solid 2px var(--color-gray-300);
  border-radius: 5em;
  margin-right: var(--spacing-unit);
  font-size: calc(var(--font-size) * 2);
  font-weight: lighter;
}

/* footer */

.footer {
  max-width: var(--content-width);
}

/* utilities */

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.centered {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
