a,
button {
  text-decoration: none;
  background-color: white;
  padding: calc(var(--spacing-unit) * 2.5) calc(var(--spacing-unit) * 6);
  border: solid 1px var(--color-gray-300);
  border-radius: 5em;
  font-weight: 700;
  font-size: 85%;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
  color: var(--text-color);
  margin-right: var(--spacing-unit);
  cursor: pointer;
  display: inline-flex;
  gap: calc(var(--spacing-unit) * 3);
}

a.compact,
button.compact {
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
}

.icon {
  width: 1.1em;
  height: 1.1em;
}
